.main {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 400px;
    margin: -100px 0 0 -200px;
    background-color: #ccc;
    overflow: hidden;
}

.left {
    border: 50px solid #fc0;
    border-radius: 50px;
    width: 0;
    height: 0;
    margin: -50px 0 0 -50px;
}

.right {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 50px solid #fc0;
    border-radius: 50px;
    width: 0;
    height: 0;
    margin: 0 -50px -50px 0;
}